<h1 mat-dialog-title>Add new University</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="Age">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="City">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="Country">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal" placeholder="Rating">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>
