<div class="root-component">

  <mat-drawer-container class="page">

    <mat-drawer mode="side" opened>
      <app-navigation></app-navigation>
    </mat-drawer>

    <mat-drawer-content class="university-sidenav-content">
      <div class="all-select">

        <mat-form-field class="age-form-field selectAge">
          <input matInput placeholder="Younger" [(ngModel)]="age">
        </mat-form-field>

        <mat-form-field class="selectCountry">
          <mat-select placeholder="Country" [(ngModel)]="selectedCountry"
                      (ngModelChange)="selectorChangedCountry($event)">
            <mat-option *ngFor="let country  of countries  " [value]="country.id">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="selectCity">
          <mat-select placeholder="City" [(ngModel)]="selectedCity">
            <mat-option *ngFor="let city  of cities  " [value]="city.id">
              {{city.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="selectSpecialities">
          <mat-select placeholder="Specialities" [(ngModel)]="selectedSpeciality">
            <mat-option *ngFor="let speciality  of specialities  " [value]="speciality.id">
              {{speciality.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="top-rating">
          <input matInput placeholder="Top" [(ngModel)]="rating">
        </mat-form-field>

        <button mat-button color="primary" class="filter" (click)="filter()">Filter</button>

        <button mat-button color="accent" class="reset-filter" (click)="resetFilter()">Reset</button>


      </div>

      <div class="example-container mat-elevation-z8">
        <div class="example-table-container university-table">

          <table mat-table [dataSource]="universities" class="example-table">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let row"> {{row.name}}</td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Age</th>
              <td mat-cell *matCellDef="let row"> {{row.age}}</td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef>City</th>
              <td mat-cell *matCellDef="let row"> {{row.city.name}}</td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef>Country</th>
              <td mat-cell *matCellDef="let row"> {{row.country.name}}</td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="specialities">
              <th mat-header-cell *matHeaderCellDef>Specialities</th>
              <td mat-cell *matCellDef="let row">

                <mat-form-field>
                  <mat-select placeholder="Specialities" name="Specialities">
                    <mat-option *ngFor="let speciality of row.specialities">
                      {{speciality.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                {{row.country.specialities}}
              </td>
            </ng-container>

            <!-- Country Column -->
            <ng-container matColumnDef="rating">
              <th mat-header-cell *matHeaderCellDef>Rating</th>
              <td mat-cell *matCellDef="let row"> {{row.rating}}</td>
            </ng-container>

            <!-- Delete button Column -->
            <ng-container matColumnDef=" ">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <button mat-stroked-button (click)="openDialogDell()">Delete</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>

        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
      </div>


      <div class="add-button">
        <button mat-fab color="primary" (click)="openDialog()">Add</button>
      </div>


    </mat-drawer-content>
  </mat-drawer-container>
</div>





