table {
  width: 100%;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  width: 100%;
  height: 100%;
}

.example-sidenav {
  padding: 20px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.root-component {
  height: 100%;
}

.add-button {
  position: fixed;
  margin-left: 75%;
  margin-top: 40%;
}

.country-table{
  margin-top: 80px;
}

.university-sidenav-content {
  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.navigator{
  background-color:rgba(146,199,255,0.04);
  width: 230px;
}

.content-span {
  position: absolute;
  margin-top: 30px;
  float: left;
  margin-left: 20px;
  width: 60px;
  font-size: 25px;
  font-family: Dingbats;
}
