<div class="root">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Universities</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>


<!--<ul class="universitets">
  <li *ngFor="let university of universities"
      [class.selected]="university === selectedUniversity"
      (click)="onSelect(university)"
      >
    <span class="badge">{{university.id}}</span> {{university.name}}
  </li>
</ul>

<div *ngIf="selectedUniversity">
  <h2>{{selectedUniversity.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>
    {{selectedUniversity.id}}
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedUniversity.name" placeholder="name">
    </label>
    <span>age: </span>
    {{selectedUniversity.age}}
  </div>
</div>-->



